/* @override http://localhost/cukes.info/css/480.css */
body{
	padding: 3em 1em;
}
header{
	height: 60px;
}

#logo h2{
	line-height: 80px;
	font-size: 40px;
}
#logo .bubble{
	width: 32px;
	height: 32px;
	right: -32px;
}
#logo .title{
	font-size: 11px;
}
