/* @override http://localhost/cukes.info/css/600.css */

body{
	padding: 3em 2em;
}
header{
	height: 60px;
}

#logo h2{
	line-height: 80px;
	font-size: 40px;
}
#logo .bubble{
	width: 42px;
	height: 42px;
	right: -42px;
}
#logo .title{
	font-size: 13px;
}

#nav{
	background: transparent;
	margin-bottom: 10px;
}
#nav li{
	float: left;
	width: 100%;
}
#nav li a{
	text-align: left;
	color: #111;
}

#nav li{
	float: left;
	list-style: none;
	padding: 5px 2%;
	width: 96%;
	cursor: pointer;
	border-radius: 5px;
}
#nav li:hover{
	background: #def;
}
#nav li:hover a{
	color: #000;
}
#nav li h4{
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
}
#nav li p{
	display: block;
	margin: 0;
}