/* @override http://localhost/cukes.info/css/600.css */

body{
	padding: 3em 2em;
}
header{
	height: 60px;
}

#logo h2{
	line-height: 80px;
	font-size: 32px;
}
#logo .bubble{
	width: 32px;
	height: 32px;
	right: -32px;
}
#logo .title{
	font-size: 10px;
}
#main {
	width: 60%;
}
aside{
	width: 30%;
	float: left;
	margin: 1em 0 0 2%;
	padding: 0 2%;
	border-radius: 5px;
}
aside h2{
	font-size: 15px;
}