/* @override http://localhost/cukes.info/css/768.css */
header{
	height: 60px;
}

#logo h2{
	line-height: 80px;
	font-size: 40px;
}
#logo .bubble{
	width: 42px;
	height: 42px;
	right: -42px;
}
#logo .title{
	font-size: 13px;
}