/* @override http://localhost/cukes.info/css/768.css */

body{
	padding: 3em 2em;
}
header{
	height: 60px;
}

#logo h2{
	line-height: 80px;
	font-size: 40px;
}
#logo .bubble{
	width: 42px;
	height: 42px;
	right: -42px;
}
#logo .title{
	font-size: 13px;
}
#main {
	width: 480px;
}
aside{
	width: 170px;
	float: left;
	margin: 1em 0 0 10px;
	padding: 0 10px;
	background: white;
	border-radius: 5px;
}
aside h2{
	font-size: 15px;
}