/* @override http://localhost/cukes.info/css/992.css */
header{
	height: 60px;
}

#logo h2{
	line-height: 80px;
	font-size: 48px;
}
#logo .bubble{
	width: 56px;
	height: 56px;
	right: -56px;
}
#logo .title{
	font-size: 16px;
}