/* @override http://localhost/cukes.info/css/992.css */
body{
	padding: 0 2%;
	padding-top: 136px;
	background-image: url(img/cukester.png);
	background-position: top center;
	background-repeat: no-repeat;

}
header{
	display: block;
}
#logo:before{
}

#logo h2{
	line-height: 80px;
	font-size: 32px;
}
#logo .bubble{
	width: 32px;
	height: 32px;
	right: -32px;
}
#logo .title{
	font-size: 16px;
}
header{
	width: 18%;
	margin-top: 1em;
}
#logo .title{
	padding: 10px;
	clear: both;
	float: none;
	position: static;
	font-size: 13px;
	
}
#main{
	width: 50%;	
	margin-left: 20%;
	margin-top: 0;
}
aside{
	width: 20%;
	left: 73%;
}
header, aside{
	position: fixed;
}