/* @override http://localhost/cukes.info/css/992.css */
body{
	padding: 2em 2%;
}
header{
	height: 60px;
}

#logo h2{
	line-height: 80px;
	font-size: 32px;
}
#logo .bubble{
	width: 32px;
	height: 32px;
	right: -32px;
}
#logo .title{
	font-size: 16px;
}
header{
	width: 18%;
	margin-top: 1em;
}
#logo .title{
	padding: 10px;
	clear: both;
	float: none;
	position: static;
	font-size: 13px;
	
}
#main{
	width: 50%;	
	margin-left: 20%;
}
aside{
	width: 20%;
	left: 73%;
}
header, aside{
	position: fixed;
}