/* @override http://localhost/cukes.info/css/style.css */

/* @group Boilerplate */

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/*
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author:
   ========================================================================== */








/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



/* @end */

/* @group Cukes */

body{
	background: #EEE;
	font-family: Helvetica, Arial;
	font-size: 14px;
	padding: 1em;
	line-height: 1.5;
	color: #111;
}
#main a{
	text-decoration: none;
	color: #159;
	background: #def;
	padding: 2px 6px;
	border-radius: 5px;
}

h1,h2,h3,h4,h5{
	margin: 2em 0 .5em ;
}
h1, h2{
	font-family: Georgia;
	border-bottom: 1px solid #EEE;
	margin: 8px -1em;
	line-height: 42px;
	padding: 0 1em;
}

header, #main{
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 3em;
}
#logo{
	font-family: Monaco;
	float: left;
	margin: 0;
	width: 100%;
	position: relative;
}
#logo h2{
	font-family: Monaco;
	position: relative;
	float: left;
	letter-spacing: 1px;
	text-transform: lowercase;
	clear: none;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
}
#logo a{
	text-decoration: none;
	color: #000;
}
#logo .bubble{
	position: absolute;
	top: 0px;
	right: -20px;
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(img/bubble_256x256.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#logo .title{
	float: left;
	position: absolute;
	left: 20em;
	clear: none;
	margin: 0;
	font-size: 10px;
}
#main pre{
	font-size: 12px;
	padding: 5px;
	margin-top: 0;
	background-image: url(img/cukester.png);
	background-repeat: no-repeat;
	background-position: 98% 100%;
	background-size: 7%;
}


#main{
	background: white;
	margin-top: 1em;
	padding: .1em 2%;
	width: 96%;
	border-radius: 5px;
}


table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #EEE;
}
tr:nth-child(even){
	background: #f6f6f6;
}
th{
	background-color: #EEE;
}

th, td{
	text-align: left;
	border-bottom: 1px solid #EEE;
	padding: 2px 7px;
}


#nav{
	color: #333;
	padding: 0;
	background: transparent;
	margin-bottom: 10px;
}
#nav li{
	list-style: none;
	cursor: pointer;
	margin-bottom: 5px;
	padding: 7px;
	border-bottom: 1px solid white;
}
#nav li a{
	color: inherit;
	text-align: left;
	text-decoration: none;
}
#nav li:hover{
	background: #F5F5F5;
}
#nav li:hover a{
	color: #000;
}
#nav li h4{
	color: #159;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
}
#nav li p{
	display: block;
	margin: 0;
}

/* @end */

/* @group Cukes-try */

#feature, #step-definitions, #output, #errors {
  width:700px;
  font-family:'Bitstream Vera Sans Mono', Courier, monospace;
  font-size:1em;
}

#feature {
  height:16em;
}

#step-definitions {
  height:28em;
}

#errors {
  color: #a30;
}

/* html formatter */

.cucumber-report .keyword {
  font-weight: bold;
}

.cucumber-report .description {
  font-style: italic;
  margin-left: 20px;
}

.cucumber-report details > section {
  margin-left: 20px;
}

.cucumber-report ol.steps {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.cucumber-report .doc_string {
  margin: 0 0 0 20px;
}

.cucumber-report table {
  border-collapse: collapse;
  border: 1px;
  border-style: solid;
}

.cucumber-report td, .cucumber-report th {
  border: 1px;
  border-style: solid;
  padding-left: 4px;
  padding-right: 4px;
}

.cucumber-report table {
  margin-left: 20px;
}

.cucumber-report thead {
  background-color: #C0C0C0;
}

.cucumber-report .passed {
  background-color: #C5D88A;
}

.cucumber-report .undefined, .cucumber-report .pending {
  background-color: #EAEC2D;
}

.cucumber-report .skipped {
  background-color: #2DEAEC;
}

.cucumber-report .failed {
  background-color: #D88A8A;
}

.cucumber-report .tags {
  display: inline;
}

.cucumber-report .tag {
  margin-right: 0.25em;
  color: #246ac1;
}

.cucumber-report .comments {
  display: inline;
}

.cucumber-report .comment {
  margin 0;
  padding 0;
}

#cucumber-templates {
  display: none;
}

/* @end */
