<!doctype html>
<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script src="js/libs/modernizr-2.0.6.min.js"></script>
	<title>__TITLE__</title>
  <meta name="description" content="cukes the cukest thing you'd never thought you'd cuke of.">
  <meta name="author" content="Cukes.info">

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">
  <!-- For all browsers -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/sh_solarized-dark.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <!-- For progressively larger displays -->
  <link rel="stylesheet" media="only screen and (min-width: 480px)" href="css/480.css">
  <link rel="stylesheet" media="only screen and (min-width: 600px)" href="css/600.css">
  <link rel="stylesheet" media="only screen and (min-width: 768px)" href="css/768.css">
  <link rel="stylesheet" media="only screen and (min-width: 992px)" href="css/992.css">
  <!-- For Retina displays -->
  <link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="css/2x.css">

  <!-- Add CSS3 selectors to IE-->
  <!--[if (lt IE 9) & (!IEMobile)]>
  <script src="js/libs/selectivizr-min.js"></script>
  <![endif]-->

  <!-- JavaScript -->
  <script src="js/libs/modernizr-2.0.6.min.js"></script>

  <!-- For iPhone 4 -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x144-precomposed.png">
  <!-- For iPad 1-->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <!-- For iPhone 3G, iPod Touch and Android -->
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">
  <!-- For Nokia -->
  <link rel="shortcut icon" href="apple-touch-icon.png">
  <!-- For everything else -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!--iOS. Delete if not required -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-startup-image" href="img/splash.png">

  <!--Microsoft. Delete if not required -->
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
  <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->

</head>
<body>

<div id="container" dir="ltr">
	<header> 
  <div id="logo">
    <h2><a href="/">Cucumber</a><span class="bubble"></span></h2>
    <p class="title">Behaviour Driven Development with elegance and joy</p>
  </div>
	</header>
	<div id="main" role="main">
    __CONTENT__
	</div>
	<aside>
	  <h2>Cucumber Resources</h2>
	 <div id="navigation">
    <ul id="nav">
      <li>
        <h4><a href="http://github.com/cucumber/cucumber/wikis">Wiki</a></h4>
        <p><a href="http://github.com/cucumber/cucumber/wikis">Detailed documentation</a></p>
      </li>
      <li>
        <h4><a href="http://github.com/cucumber/cucumber/tree/master/examples/i18n">Examples</a></h4>
        <p><a href="http://github.com/cucumber/cucumber/tree/master/examples/i18n">Use your mother tongue</a></p>
      </li>
      <li>
        <h4><a href="http://wiki.github.com/cucumber/cucumber/tutorials-and-related-blog-posts">Tutorials</a></h4>
        <p><a href="http://wiki.github.com/cucumber/cucumber/tutorials-and-related-blog-posts">By the community</a></p>
      </li>
      <li>
        <h4><a href="https://github.com/cucumber/cucumber/issues">Tickets</a></h4>
        <p><a href="https://github.com/cucumber/cucumber/issues">Requests/Bugs</a></p>
      </li>
      <li>
        <h4><a href="http://groups.google.com/group/cukes">Mailing list</a></h4>
        <p><a href="http://groups.google.com/group/cukes">Ask questions</a></p>
      </li>
      <li>
        <h4><a href="http://webchat.freenode.net/?channels=cucumber">IRC</a></h4>
        <p><a href="http://webchat.freenode.net/?channels=cucumber">Get instant help</a></p>
      </li>
    </ul>	 </div>
	</aside>
	<footer>

	</footer>
</div> <!--! end of #container -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via ant build script-->
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
<script src="js/libs/sh_main.min.js"></script>
<script src="js/libs/sh_xml.min.js"></script>
<script src="js/libs/sh_ruby.min.js"></script>
<script src="js/libs/sh_sh.min.js"></script>
<script src="js/libs/sh_java.min.js"></script>
<!-- end scripts-->

<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script>sh_highlightDocument();</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
